@font-face {
    font-family: 'Nico Moji';
    src: url(../fonts/./NicoMoji-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Arodora Pro';
    src: url(../fonts/ArodoraPro-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'NEXT ART';
    src: url(../fonts/NEXT\ ART_SemiBold.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'NEXT ART';
    src: url(../fonts/NEXT\ ART_Bold.otf);
    font-weight: 700;
}
